@model PortfolyoProjesi.Models.Tbl_About


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid p-4">
    <h2 class="text-light mb-4 pb-2" style="border-bottom: 2px solid rgba(255,255,255,0.1); font-weight: 300; letter-spacing: 1px;">
        <i class="fa fa-user-circle"></i>
        Hakkımda
    </h2>

    <form method="post">
        <img src="@Model.ImageUrl" />
        <label class="text-warning">
            Resim Url
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        </label>
        <br />
        <br />
        <label class="text-warning">Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label class="text-warning">Açıklama1</label>
        @Html.TextAreaFor(x => x.Description, 10, 2, new { @class = "form-control ", @id = "floatingTextarea2", @style = "height: 100px; width: %100; padding: 10px; margin-bottom: 3px;" })
        <br />
        <label class="text-warning">Açıklama2</label>
        @Html.TextAreaFor(x => x.Description1, 10, 2, new { @class = "form-control", @id = "floatingTextarea2", @style = "height: 100px; width: 100%; padding: 10px; margin-bottom: 3px;" })
        <br />

        <div style="display: flex; margin-bottom: 10px;">
            <label class="text-warning" style="width: 150px;">Yaş</label>
            @Html.TextBoxFor(x => x.Age, new { @style = "width: 150px;" })
        </div>

        <div style="display: flex; margin-bottom: 10px;">
            <label class="text-warning" style="width: 150px;">Web Site</label>
            @Html.TextBoxFor(x => x.Website, new { @style = "width: 150px;" })
        </div>

        <div style="display: flex; margin-bottom: 10px;">
            <label class="text-warning" style="width: 150px;">Telefon Numarası</label>
            @Html.TextBoxFor(x => x.Phone, new { @style = "width: 150px;" })
        </div>

        <div style="display: flex; margin-bottom: 10px;">
            <label class="text-warning" style="width: 150px;">Şehir</label>
            @Html.TextBoxFor(x => x.City, new { @style = "width: 150px;" })
        </div>

        <div style="display: flex; margin-bottom: 10px;">
            <label class="text-warning" style="width: 150px;">Email</label>
            @Html.TextBoxFor(x => x.Email, new { @style = "width: 150px;" })
        </div>

        <div style="display: flex; margin-bottom: 10px;">
            <label class="text-warning" style="width: 150px;">Seviye</label>
            @Html.TextBoxFor(x => x.Degree, new { @style = "width: 150px;" })
        </div>
        <button type="submit" class="btn btn-outline-info">Güncelle</button>
    </form>
</div>