@model List<PortfolyoProjesi.Models.Tbl_Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid p-4">
    <h2 class="text-light mb-4 pb-2" style="border-bottom: 2px solid rgba(255,255,255,0.1); font-weight: 300; letter-spacing: 1px;">
        <i class="bi bi-chat-dots"></i>
        Mesajlar
    </h2>

    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link text-warning active" href="@Url.Action("Index", "Message")">Tümü</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning" href="@Url.Action("NewMessage", "Message")">Yeni</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-warning" href="@Url.Action("OldMessage", "Message")">Okunan</a>
        </li>
    </ul>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Gönderen</th>
                <th>Konu</th>
                <th>Mesaj</th>
                <th class="text-end">Durum</th>
                <th class="text-end">Işaretle</th>
                <th class="text-end">Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NameSurname</td>
                    <td>@item.Subject</td>
                    <td>@item.MessageContent</td>
                    <td class="text-end">
                        @if (item.Isactive == 1)
                        {
                            <span class="btn btn-outline-success btn-sm px-3">Yeni</span>

                        }
                        else
                        {
                            <span class="btn btn-outline-secondary btn-sm px-3">Okundu</span>
                        }
                    </td>
                    <td class="text-end">  <!-- text-end sınıfı ile içeriği sağa hizalama -->
                        @if (item.Isactive == 1)
                        {
                            <a href="/Message/ReadMessage/@item.MessageID" class="btn btn-outline-info btn-sm px-2"><i class="bi bi-hand-thumbs-up"></i></a>
                        }
                        else
                        {
                            <a href="/Message/ReadMessage/@item.MessageID" class="btn btn-outline-info btn-sm px-2"><i class="bi bi-hand-thumbs-up-fill"></i></a>
                        }
                        </td>
                        <td class="text-end"> <a href="/Message/DeleteMessage/@item.MessageID" class="btn btn-outline-danger btn-sm px-3">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>