
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>

<div class="container-fluid p-4">
    <h2 class="text-light mb-4 pb-2" style="border-bottom: 2px solid rgba(255,255,255,0.1); font-weight: 300; letter-spacing: 1px;">
        <i class="fa fa-user-circle me-2"></i>
        Hakkımda
    </h2>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Birthday</th>
                <th scope="col">Website</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Freelance</th>
                <th scope="col">Degree</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.AboutID</th>
                    <td><a img="@item.ImageUrl">a</a></td>
                    <td>@item.Title</td>
                    <td>@item.Birthday</td>
                    <td>@item.Website</td>
                    <td>@item.Phone</td>
                    <td>@item.City</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Freelance</td>
                    <td>@item.Degree</td>
                    <td><a href="#" class="btn btn-outline-info btn-sm px-3"><i class="fa fa-edit me-2"></i>Güncelle</a></td>
                    <td><a href="#" class="btn btn-outline-danger btn-sm px-3"><i class="fa fa-trash me-2"></i>Sil</a></td>
                </tr>
            }*@
        </tbody>
    </table>
</div>
